<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Left Column for Dashboard Information -->
    <div class="col-md-8">
      <%= render 'dashboard_courses', courses: @courses %>
    </div>

    <!-- Right Column for Daily Status Form -->
    <% if current_user.trainee? %>
      <div class="col-md-4">
        <%= render 'daily_status_form' %>
      </div>
    <% end %>
  </div>
</div>
