<div class="container mt-5">
  <h2 class="text-center text-primary">Statuses for <%= @user.name %></h2>
  <hr class="mb-4">

  <% if @statuses.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered mt-4">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">Date</th>
            <th scope="col">Status Content</th>
          </tr>
        </thead>
        <tbody>
          <% @statuses.each do |status| %>
            <tr>
              <td class="text-center"><%= status.date.strftime('%d-%m-%Y') %></td>
              <td><%= status.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info text-center" role="alert">
      No statuses available for this user.
    </div>
  <% end %>
</div>
