<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-primary text-white py-3">
          <h4 class="card-title mb-0">
            <i class="fas fa-user-edit me-2"></i>
            Edit User
          </h4>
        </div>
        <div class="card-body bg-light">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
